@tailwind base;
@tailwind components;
@tailwind utilities;

.text-light-primary { color: #744545; }
.text-light-secondary { color: white; }
.text-light-primary-alt { color: white; }

.bg-light-primary { background-color: white; } 
.bg-light-secondary { background-color: #744545; }

.border-light-primary { border-color: #744545; }

.plantation-image {
  background: url('static/images/rubber-plantation.jpeg') bottom/cover no-repeat; /* Set background image */
}

.gradient-40 {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
}
.hide {
  display: none;
}

.bottom-0-x {
  bottom: 0;
}

.min-h-vh-100 {
  min-height: 100vh;
}



@layer utilities {
  .bg-light-secondary { background: #744545; }
  .bg-light-alt { background: #fcd2d2; }
  .text-light-primary-alt { color: white; }
  .gradient-40 {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
  }
  .gradient-60 {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 0) 100%);
  }
  .gradient-80 {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 30%,  rgba(255, 255, 255, 0.7) 100%);
  }
}
